@import './styling/home.scss';
@import './styling/specificquestion.scss';
@import './styling/newquestions.scss';
@import './styling/auth.scss';
@import './styling/header.scss';

@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Sniglet', cursive;
}

.overflow-off {
    overflow: hidden;
}
