@import './styling/home.scss';
@import './styling/specificquestion.scss';
@import './styling/newquestions.scss';
@import './styling/switchmode.scss';

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
