.home-route {
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
}

.header {
    text-align: center;
    position: relative;
    margin-top: 20px;
    .over_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        img {
            width: 80px;
            height: 80px;
        }
        p {
            font-size: 1.3em;
        }
    }
    .below_header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
        .cover {
            font-weight: 900;
            font-size: 6vw;
            color: rgb(49, 49, 49);
            overflow: hidden;
        }
        .below_header-cell {
            font-size: 24px;
            font-weight: 500;
            overflow: hidden;
            &:hover {
                text-decoration: line-through;
            }
        }
    }
    .header_text {
        text-decoration: 'none';
        &:hover {
            text-decoration: line-through;
        }
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.question-each {
    padding: 10px 20px;
    word-wrap: break-word;
    border: 1px solid rgb(229, 226, 221);
    border-radius: 15px !important;
    font-size: 24px;
    margin-bottom: 3px;
    .question-each-title {
        text-decoration: none;
        &:hover {
            text-decoration: line-through;
        }
    }
}

.background-common-light {
    background: rgb(50, 50, 50);
    border-radius: 3px;
}

.whiteColor {
    color: rgb(229, 226, 221);
}

.thumbs-icon {
    cursor: pointer;
    &:hover {
        color: red;
    }
}
