.specific-question {
    border: 1.2px solid #666;
    margin: 20px auto;
    padding: 15px;
    word-wrap: break-word;
}

.waiting-specific-question {
    border: 1.2px solid #666;
    margin: 20px auto;
    padding: 15px;
    height: 200px;
}

.hr-styling {
    background: #555;
}
