.switch-mode-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    img {
        width: 30px;
        height: 30px;
    }
}

.darkmode {
    background: black;
    color: white;
    transition: 1s;
}

.lightmode {
    background: yellow;
    color: black;
    transition: 1s;
}

.wholeBackground {
    background: #999;
    transition: 1s;
}

.hello {
    background: blue !important;
    transition: 1s;
}
